header {
    display: flex;
    justify-content: space-between;
    background-color: red;
    color: white;
    padding: 20px 50px;
    margin-bottom: 2em;
    align-items: center;
}

.header-title {
    cursor: pointer;
}

.session {
    display: flex;
}

.profile-button {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    cursor: pointer;
}

.profile-img {
    width: 40px;
    height: auto;
}

.profile-name {
    margin: 10px 7px;
    padding-top: 5px;
}

.logout-img {
    width: 40px;
    height: auto;
    margin: 8px;
    cursor: pointer;
}