<header>
    <div>
        <h2 class="header-title" (click)="onTitleClicked()">PokeTrainer</h2>
    </div>
    <div *ngIf="loggedIn" class="session">
        <div class="profile-button" (click)="onProfileClicked()">
            <p class="profile-name">{{trainerName}}</p>
            <img class="profile-img" src="assets/profile-icon-white.svg" alt="profile icon">
        </div>
        <div (click)="onLogoutClicked()">
            <img class="logout-img" src="assets/clear-icon-white.svg" alt="logout icon">
        </div>
    </div>
</header>