<main *ngIf="pokemon">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-body-left">
                    <h2 class="card-title">{{pokemon.name}}</h2>
                    <img class="img-pokemon" [src]="pokemon.imageUrl" [alt]="pokemon.name">
                    <p class="card-text"><small class="text-muted">#{{pokemon.id}}</small></p>
                </div>

                <div class="card-body-right">
                    <h3>Profile</h3>
                    <p class="card-text">Height: {{pokemon.height}}</p>
                    <p class="card-text">Weight: {{pokemon.weight}}</p>
                    <p class="card-text">Base Experience: {{pokemon.base_experience}}</p>

                    <p class="card-text">Abilities: </p>
                    <div *ngFor="let ability of pokemon.abilities">
                        <p>{{ability.ability.name}}</p>
                    </div>
                    <div class="types">
                        <div *ngFor="let type of pokemon.types">
                            <h5><span class="badge badge-secondary">{{type.type.name}}</span></h5>
                        </div>
                    </div>
                    <br>
                    <button *ngIf="!pokemonInCollection" class="btn btn-success" type="button"
                        (click)="onCollectPokemonClicked()">Collect</button>
                    <button *ngIf="pokemonInCollection" class="btn btn-secondary" type="button"
                        (click)="onRemovePokemonClicked()">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <h4>Base stats</h4>
    <div class="container container-stats">
        <div class="card card-stat">
            <div class="card bg-light mb-3" *ngFor="let stat of pokemon.stats">
                <div class="card-header">{{stat.stat.name}}</div>
                <div class="card-body">
                    <p class="card-text">{{stat.base_stat}}</p>
                </div>
            </div>
        </div>
    </div>

    <br>
    <h4>Moves</h4>
    <div class="container container-moves">
        <ul class=" list-group" *ngFor="let move of pokemon.moves">
            <li class="list-group-item">{{move.move.name}}</li>
        </ul>
    </div>
</main>