.img-pokemon {
    height: auto;
    width: 250px;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-body-left {
    margin-right: 100px;
}

.card-body-right {
    margin-left: 100px;
}

.types {
    display: flex;
}

.badge-secondary{
    margin: 3px;
}

h4 {
    text-align: center;
}

.card-stat {
    display: flex;
    flex-direction: row;
    border: none;
}

.mb-3 {
    width: 155px;
    height: 120px;

}

.container-stats {
    display: flex;
    justify-content: center;
}

.container-moves {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.list-group-item {
    margin: 5px;
}