<div class="card" type="button" (click)="onCardClicked()">
    <img class="img-pokemon" [src]="pokemon.imageUrl" [alt]="pokemon.name">
    <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <p class="card-text"><small class="text-muted">#{{pokemon.id}}</small></p>
    </div>
</div>