<form [formGroup]="registerForm">
    <div>
        <div class="input-group mb-3">
            <input type="text" name="trainername" id="trainername" class="form-control"
                placeholder="Enter your trainer name" formControlName="username" required minlength="1">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onRegisterClicked()"
                    [disabled]="registerForm.invalid">Enter</button>
            </div>
        </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <div *ngIf="username.errors.required">Trainer name is required.</div>
            <div *ngIf="username.errors.minlength">Trainer name should atleast be 1 character.</div>
        </div>
    </div>
</form>