<div class="container">
    <h2>Pokemon Catalogue</h2>
    <div class="container card-container">
        <app-pokemon-list-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon"
            (pokemonClicked)="handlePokemonClicked($event)"></app-pokemon-list-item>
    </div>
</div>